.planGroup {
    border-radius: 10px;
    background-color: #2B2B2B;
    min-height: 150px;
    padding-bottom: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
}
