.planGroup {
    background-color: #2B2B2B;
    border-bottom: 2px solid black;
}

.timeHeader {
    display: block;
    width: 50px;
    padding: 5px 0 5px 15px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.sortInPlan {
    height: 10px;
}

.hideFilterTask {
    display: none;
}
