.oneTask {
    display: flex;
    background-color: #3C3F41;
    margin-bottom: 50px;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid black;
}


.oneTask:active {
    background-color: gray;
}

.oneTaskHeader {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.oneTaskHeader span {
    font-weight: bold;
}
