.oneTask {
    display: flex;
    background-color: #7200A3;
    margin-bottom: 50px;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid black;
}


.oneTask:active {
    background-color: gray;


}
