.addTask {
    padding-left: 15px;
    background-color: #3C3F41;
    margin-bottom: 5px;
    flex-direction: column;
    border: 2px solid black;
}


.adder {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
}

.add {
    margin-top: 10px;
    color: green;
    font-size: 40px;
}

.add:active {
    color: #0E3B0E;
    transition: 0.1s;
}

.adder textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    width: 400px;
    height: 30px;
    max-width: 600px;
    max-height: 30px;
    background-color: #1C1D22;
    color: white;
    font-size: 20px;
    padding-top: 5px;
}

.adder textarea:focus {
    outline: none;
}

.checkDiv {
    margin-top: 20px;
    margin-right: 15px;
}

.check {
    color: red;
    font-size: 20px;
}

