.addTask {
    padding-left: 15px;
    background-color: #3C3F41;
    margin-bottom: 5px;
    flex-direction: column;
    border: 2px solid black;
}


.adder {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.title {
    display: flex;
}

.adder input{
    background-color: inherit;
    border: none;
    font-size: 20px;
    color: white;
    height: 24px;
    margin-bottom: 2px;

}

.adder input:focus {
    outline: none;
    border-bottom: 2px solid white;
}

.checkDiv {
    display: flex;
    margin-right: 15px;
}

.check {
    font-size: 20px;
    color: red;
    margin-top: 5px;
}

