.group {
    margin-bottom: 20px;
    min-height: 150px;
    border-radius: 10px;
    max-width: 73vw;
    background-color: #2B2B2B;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.groupMargin {
    padding-bottom: 50px;
}

.groupName {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
